<section class="content">
  <%= title t('pools.list') %>

  <section class="content_box">
    <% @pools.each do |pool| %>
  <li><%= link_to pool.name, pool %> (<%= pool.votes.size %> votes)</li>
  <% end %>
  </section>

  <% if can? :create, Pool %>
    <%= link_to t('common.add'), new_pool_path %>
  <% end %>
</section>
