<section class="content">
  <%= title t('quotes.list') %>

  <% @quotes.each do |quote| %>
    <blockquote><%= link_to quote.content, quote %></blockquote>
  <% end %>

  <% if can? :create, Quote %>
    <ul class="actions"><li><%= link_to t('common.add'), new_quote_path %></li></ul>
  <% end %>
</section>
