<%= title 'Les citations' %>

<ul>
<% @quotes.each do |quote| %>
  <li>
    <%= render 'one_quote', {:quote => quote} %>
  </li>
<% end %>
</ul>

<br />

<% if can? :create, Quote %>
  <%= link_to t('common.add'), new_quote_path %>
<% end %>
