<h1>Toutes les citations</h1>

<ul>
<% @quotes.each do |quote| %>
  <li>
    <%= render 'one_quote', {:quote => quote} %>
  </li>
<% end %>
</ul>

<br />

<% if can? :create, Quote %>
  <%= link_to 'Ajouter une citation', new_quote_path %>
<% end %>