<h1>Toutes les citations</h1>

<ul>
<% @quotes.each do |quote| %>
  <li>
    <blockquote>« <%= quote.content %> »</blockquote>
    Par <%= quote.user.login %>.
  </li>
<% end %>
</ul>

<br />

<%= link_to 'Ajouter une citation', new_quote_path %>
