<p>
  <blockquote><%= quote.content %></blockquote>
  Par <%= quote.user.login %>.
</p>

<%= link_to 'Modifier cette citation', edit_quote_path(@quote) %> |
<%= link_to 'Retourner à la liste des citations', quotes_path %>
