*.swp
/.bundle
/.rvmrc
/.sass-cache/
/dump.rdb
/Session.vim
/config/initializers/secret_token.rb
/config/database.yml
/config/settings.yml
/coverage/
/db/*.sqlite3*
/log/*.log
/tmp/
/public/system/
/public/assets/
/vendor/data/
/vendor/bundle/
/lib/tasks/import/data/
