<h3>Commentaires</h3>

<ul class="comments">
  <% comments.each do |comment| %>
    <li><%= link_to comment.user.login, comment.user %> : <%= comment.content %></li>
  <% end %>
</ul>

<% if can? :create, Comment %>
  <% form_for [commentable, Comment.new] do |form| %>
      <%= form.text_area :content, :rows => 3 %>
      <%= submit_tag "Ajouter un commenaire" %>
  <% end %>
<% end %>