<h3><%= link_to 'Commentaires', [commentable, Comment] %></h3>

<ul class="comments">
  <% comments.each do |comment| %>
    <li>
      <%= render 'comments/one_comment', {:commentable => commentable, :comment => comment} %>
    </li>
  <% end %>
</ul>

<% if can? :create, Comment %>
  <% form_for [commentable, Comment.new] do |form| %>
      <%= form.text_area :content, :rows => 3 %>
      <%= submit_tag "Ajouter un commenaire" %>
  <% end %>
<% end %>