<section class="content">
  <%= title(t('comment', count: 1) + ' : ' + @comment.to_s) %>

  <ul class="comments"><li><%= render 'one_comment', {commentable: @commentable, comment: @comment} %></li></ul>
</section>
