<section class="content">
  <%= title t('reminders.list') %>

  <ul class="reminders">
  <% @reminders.each do |reminder| %>
    <li>
      <%= link_to reminder.content, reminder %>
      <%= delete_button image_tag("icons/delete.png"), reminder %>
    </li>
  <% end %>
  </ul>

  <%= render 'form' %>
</section>
