<h1>Tes trucs à faire</h1>

<ul>
<% @reminders.each do |reminder| %>
  <li><%= link_to reminder.content, reminder %></li>
<% end %>
</ul>

<br />

<% if can? :create, Reminder %>
  <%= link_to 'Ajouter un truc à faire', new_reminder_path %>
<% end %>