/**
 * Home page
 * 
 * A FAIRE :
 *  - finir le rendu pour coller au mieux à mockup.jpg
 *  - intégrer quelques blocs de CSS de la base CSS choisie (cf. wiki)
 *  - harmoniser avec les CSS des autres pages quand elles seront créées
 *
 * NOTES :
 *  - utiliser les dimensions en px avec parcimonie :)
 *  - à propos des dégradés en CSS :
 *  ne mettre que l'implémentation pour Gecko pour l'instant:
 *    background: -moz-linear-gradient(top, #aaa, #bbb);
 *  on s'amusera plus tard avec sed pour ajouter automatiquement les autres
 *  implémentations pour Webkit, Trident & co (cf. ci-dessous)
 */

null { /* Not a real tag, just to keep this snippet for later... */
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#00f), to(#fff));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #eee, #ccc);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF)";
}

/* Let's go! */

body, header, section, nav, article, h1, ul, dl, dd, dt, #wrap {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  /* fait en sorte que les padding et border ne change pas les dimensions d'un élément box 
   * valeur par défaut : content-box */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Arial, sans-serif;
  background: #fff;
}

a, a:visited {
  color: #1268A1;
}

a:hover {
  text-decoration: none;
}


#wrap {
  width: 970px;
  padding: 10px;
  margin: 0 auto;
  background: #f0f0f0;
  border: 1px solid #bbb;
}

#quote {
  font-style: italic;
  text-align: center;
  width: 970px;
  margin: 0 auto;
}

#quote:before, #quote:after {
  font-size: 2em;
  font-weight: bold;
  color: #1e65ff;
}

#quote:before {
  content: open-quote;
}

#quote:after {
  content: close-quote;
}

#banner {
  height: 192px;
  background: #006083;
	text-align: center;
  background: -moz-linear-gradient(top , #0378a4, #01445e);
}

#menubar {
  width: 970px;
  line-height: 3em;
  margin: 0 auto;
  text-align: left;
  background-color: #f6f6f6;
  background: -moz-linear-gradient(top , #fefefe, #efefef);
  border-width: 0 1px;
  border-color: #bbb;
  border-style: solid;
}

#menubar a {
  text-decoration: none;
  color: #565656;
  font-size: 1.2em;
  padding: .6em 1.8em;
  border-right: 1px solid #ccc;
  font-family	: Arial;
}

#menubar a:hover {
  color: #111;
  background-color: #d6d6d6;
  background: -moz-linear-gradient(top , #dedede, #cfcfcf);
}

#menubar img {
  height: 25px;
  vertical-align:text-top;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
  background-color: #e5e5e5;
  border: 1px solid #7f7f7f;
  display: block;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus {
  background: #eee;
}

input[type="submit"] {
  border: 1px solid #7F7F7F;
  background: -moz-linear-gradient(top, #00709E, #004763);
  color: #ddd;
  font-weight: bold;
  padding: 4px;
  margin: 4px 0;
}

input[type="submit"]:hover {
  color: #fff;
}

input[type="submit"]:focus {
  border-color: #ddd;
  background: -moz-linear-gradient(top, #004763, #00709E);
  color: #fff;
}

#content {
  width: 700px; /* 950 - 250 */
  padding: 0;
}

#content section {
  background: #fff;
  border: 1px solid #999;
  margin-bottom: 20px;
}

#content section.messagebox {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 80px;
  border-style: dotted;
  background-repeat: no-repeat;
  background-position: 15px 15px;
  min-height: 58px;
}

#content section.messagebox.info {color: blue; border-color: blue;background-image:url('../images/ext/one_bit/onebit_37.png');background-color:#e6e6ff}
#content section.messagebox.success {color: green; border-color: green;background-image:url('../images/ext/one_bit/onebit_34.png');background-color:#e6ffe6}
#content section.messagebox.error {color: red; border-color: red;background-image:url('../images/ext/one_bit/onebit_49.png');background-color:#ffe6e6}
#content section.messagebox.notice {color: #f70; border-color: #f70;background-image:url('../images/ext/one_bit/onebit_47.png');background-color:#fff1e6}

#content section > h1 {
  font-size: 1.4em;
  color: #fff;
  background: #006083;
  background: -moz-linear-gradient(top, #0075A1, #004861);
  padding: .2em 1em;
  margin: 0;
}

#content article {
  padding: 1em;
}

#content article img {
  margin: .5em;
}

#news header {
  background: #e7e7e7;
  padding: 10px;
  margin: 0 0 1em 0;
}

#news dt.date {
  display: none;
}

#news dd.date {
  float: left;
  position: relative;
  top: -1.4em;
  color: #fff;
  width: 2.5em;
  height: 2.8em;
  margin: 0 10px 0 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #4D4D4D;
  background: #006083;
  background: -moz-linear-gradient(top, #0073A0, #00465F);
}

#news h1 {
  color: #999;
  font-size: large;
  padding: 0 0 0 50px;
}

#news h1 a {
  color: #197798;
}

#news h1 a.moderate {
  color: #f22;
}

#news dl {
  padding-top: 3px;
}

#news dt, dd {
  display: inline;
}

#news dt {
  background: #dcdcdc;
  color: #888;
  padding-left: .4em;
  font-style: italic;
}

#news dd {
  background: #dcdcdc;
  border-right: 1px solid #999;
  padding-right: .4em;
}

#news dd.last {
  border-right: 0; 
}

#news dt:after {
  content: " : ";
}

#news section {
}

#news hr {
  border-top: 1px dashed #0B688A;
  margin: 1em 0 0 0;
}

#sidebar {
  width: 250px; 
  float: right;
}

#sidebar input[type="text"], #sidebar input[type="email"], #sidebar input[type="search"], #sidebar input[type="password"] {
  float: right;
}

#sidebar h2 {
  font-size: 1.4em;
  color: #478;
  margin: 0 0 .3em 0;
}

#sidebar section, aside nav {
  border: 3px ridge #ccc;
  /* color: #fff; */
  margin: 0 0 10px 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #F6F6F6;
  background: -moz-linear-gradient(top , #fefefe, #efefef);
}

#sidebar nav ul {
  list-style: none;
}

#login_box br {
  clear: both;
}

#login_box label {
  color: #4D4D4D;
  font-size: small;
}

#login_box input {
  margin: 2px 0;
  width: 55%;
}

#login_box form {
  margin: 10px 0 30px 0;
}

#login_box a {
  color: #1268A1;
  font-size: .8em;
  font-style: italic;
}

footer {
  clear: both;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  height: 192px; /* same height as banner */
  color: #fff;
  font-style: italic;
  font-weight: bold;
  background: #006083;
  background: -moz-linear-gradient(top, #0378a4, #01445e);
}

footer li {
  list-style-type: none;
  display: inline;
  padding: 0 .7em;
}

footer a, footer a:visited {
  color: #fff;
}

footer span {
  font-size: 10em;
  cursor: pointer;
}

footer span:hover {
  color: red;
}


