<section class="content">
  <%= title t('groups.list') %>

  <section class="content_box">
    <ul>
    <% @groups.each do |group| %>
      <li>
        <%= link_to group.name, group %>
      </li>
    <% end %>
    </ul>
  </section>

  <% if can? :create, Group %>
    <%= link_to t('common.add'), new_group_path %>
  <% end %>
</section>
