<section class="content">
  <%= title t('groups.list') %>

  <ul>
  <% @groups.each do |group| %>
    <li><%= link_to group.name, group %></li>
  <% end %>
  </ul>

  <% if can? :create, Group %>
    <ul class="actions"><li><%= link_to t('common.add'), new_group_path %></li></ul>
  <% end %>
</section>
