<h1>Liste des utilisateurs</h1>

<ul>
<% @users.each do |user| %>
  <li><%= link_to user.login, user %></li>
<% end %>
</ul>

<br />

<% if can? :create, User %>
  <%= link_to 'Ajouter un utilisateur', new_user_path %>
<% end %>
