<section class="content">
  <%= title "404 : La page n'a pas été trouvée" %>

  <p>Vous avez peut-être mal tapé l'adresse ou cette page a été déplacée.</p>
  <p><%= image_tag '404.png' %></p>
</section>
