<section class="content">
  <%= title 'Mince, ya un problème' %>

  <p>Parce que ça arrive même aux meilleurs, tu peux nous dire comment tu as découvert cette erreur ?</p>
  <p>Par l'ung-liste, ou en parlant directement à quelqu'un de l'UNG (par exemple en salle asso).</p>
  <p><%= image_tag '500.png' %></p>
  <p><a href="http://xkcd.com/292/">Dessin par XKCD.</a></p>
</section>
