<section class="content">
  <%= title 'About' %>

  <h2>The website</h2>
  <p>
    So, here you are, now you can click on all the links ;).
  </p>

  <h2>Us</h2>
  <p>
    Because it's not so easy :
    <ul>
      <li>Antoine CATTON (champing of troll)</li>
      <li>Cédric FELIZARD (Adminsys's god)</li>
      <li>Dorian MARIÉ (Guru Rails)</li>
      <li>Nicolas WORMSER (Saint Phonie)</li>
      <li>Mengdi ZHANG</li>
      <li>Lionel KUBWIMANA</li>
      <li>Mélanie ARAUJO-MARTINS</li>
      <li>Hong SHEN</li>
      <li>And all who helped us…</li>
    </ul>
  </p>
</section>
