<section class="content">
  <%= title '关于' %>
  <section class="content_box">
    <h2>网站</h2>

    <p>

    </p>

    <h2>我们</h2>

    <p>
      这一切这并不简单 :
      <ul>
        <li>Antoine Catton (troll de compét')</li>
        <li>Cédric Felizard (Adminsys de ouf)</li>
        <li>Dorian Marié (Guru Rails)</li>
        <li>Nicolas Wormser (Saint Phonie)</li>
        <li>Mengdi ZHANG</li>
        <li>Lionel KUBWIMANA</li>
        <li>Mélanie ARAUJO-MARTINS</li>
        <li>Hong SHEN</li>
        <li>以及所有曾经帮助过我们的人...</li>
      </ul>
    </p>
  </section>
</section>
