<section class="content">
  <%= title 'À propos' %>
  <section class="content_box">
    <h2>Le site</h2>

    <p>
      Il est super hein ? Y a plein de trucs, tout ça pour que vous restiez
      sur vos ordis, banque de geeks :D.
    </p>

    <h2>Nous</h2>

    <p>
      Parce que c'est pas si facile :
      <ul>
        <li>Antoine Catton (troll de compét')</li>
        <li>Cédric Felizard (Adminsys de ouf)</li>
        <li>Dorian Marié (Guru Rails)</li>
        <li>Nicolas Wormser (Saint Phonie)</li>
        <li>Mengdi ZHANG</li>
        <li>Lionel KUBWIMANA</li>
        <li>Mélanie ARAUJO-MARTINS</li>
        <li>Hong SHEN</li>
        <li>Et à tout ceux qui ont participé à la conception de près ou de loin…</li>
      </ul>
    </p>
  </section>
</section>
