<section class="content">
  <%= title 'À propos' %>

  <h2>Le site</h2>

  <p>
    Voilà, vous y êtes, n'hésitez pas à cliquer sur tout les liens ;).
  </p>

  <h2>Nous</h2>

  <p>
    Parce que c'est pas si facile :
    <ul>
      <li>Antoine CATTON (troll de compét')</li>
      <li>Cédric FELIZARD (Adminsys de ouf)</li>
      <li>Dorian MARIÉ (Guru Rails)</li>
      <li>Nicolas WORMSER (Saint Phonie)</li>
      <li>Mengdi ZHANG</li>
      <li>Lionel KUBWIMANA</li>
      <li>Mélanie ARAUJO-MARTINS</li>
      <li>Hong SHEN</li>
      <li>Et à tout ceux qui ont participé à la conception de près ou de loin…</li>
    </ul>
  </p>
</section>
