<section class="content">
  <h1 class="title">Hello</h1>
  <p>
    <%= image_tag 'home/logo_ung.png', :class => 'left' %>
    UTT's student or not, welcome to THE UTT's student website !
  </p>
  <p>
    Why you are here ? Maybe try to find some essential information about
    the incredible life in the UTT (emails, Facebook, timesheets,
    agenda, clubs, associations, …), or to share photos and join discussions.
    And something useful to help YOU : Classifieds, Carpools, Annals, …
  </p>
  <p>
    See you soon, in Troyes, or anywhere else …<br />
    Made by <%= link_to "UTT Net Group", :root %><br />
  </p>
</section>

<%= render :template => 'news/index' %>
