<section class="content">
  <%= title t('layout.rules') %>

  <p>
    En utilisant ce site, vous acceptez les régles suivantes :
  </p>

  <ul>
    <li>
      Vous êtes responsable de tout contenu que vous postez sur ce
      site.
    </li>
    <li>
      Tout contenu illégal pourra être supprimé et votre compte bloqué
      sans préavis. Nous en garederons tout de même trace si des
      autorités nous demande une copie.
    </li>
    <li>
      Votre compte peut être mis en lecture seule : vous ne pouvez que
      lire et ne pouvez plus poster/modifier/supprimer aucun contenu.
    </li>
    <li>
      Vous avez droit de demander la suppréssion de contenu vous
      concernant.
    </li>
    <li>
      Vous pouvez demander toutes les informations que nous possédons
      sur vous dans notre base de données.
    </li>
  </ul>
</section>
