<section class="content">
  <%= title t('events.list') %>

  <section class="blocks">
    <% @events.each do |event| %>
      <%= render 'events/one_event', {:event => event} %>
    <% end %>
  </section>

  <%= paginate @events %>

  <% if can? :create, Event %>
    <ul class="actions"><li><%= link_to t('common.add'), new_event_path %></li></ul>
  <% end %>
</section>

