<%= title 'Les événements' %>

<ul>
<% @events.each do |event| %>
  <li>
    <%= event.start_at.strftime 'le %d %B à %Hh' %> : <%= link_to event.title, event %>
  </li>
<% end %>
</ul>

<br />

<% if can? :create, Event %>
  <%= link_to 'Ajouter un événement', new_event_path %>
<% end %>
