<%= title t('events.list') %>

<ul>
<% @events.each do |event| %>
  <li>
    <%= l(event.start_at, :format => :short) %> : <%= link_to event.name, event %>
  </li>
<% end %>
</ul>

<br />

<% if can? :create, Event %>
  <%= link_to t('common.add'), new_event_path %>
<% end %>
