%section.content
  = title t('events.list')

  %section.blocks
    - @events.each do |event|
      = render 'events/one_event', {event: event}

  = paginate @events unless @events.empty?

  - if can? :create, Event
    %ul.actions
      %li= link_to t('common.add'), new_event_path
