<section class="cotent">
  <%= title t('common.edit') %>

  <%= render 'form' %>

  <ul class="actions">
    <li><%= link_to t('common.show'), @news %></li>
    <li><%= link_to t('common.list'), news_index_path %></li>
  </ul>
</section>
