<section id="news">
  <h1>Les news</h1>

  <% @news.each do |news| %>
    <%= render 'news/one_news', {:news => news} %>
  <% end %>

  <% if can? :create, News %>
    <%= link_to 'Ajouter une news', new_news_path %>
  <% end %>
</section>
