<section id="news">
  <% if controller.controller_name != 'home' %>
    <%= title 'Les news' %>
  <% end %>

  <% @news.each do |news| %>
    <%= render 'news/one_news', {:news => news} %>
  <% end %>

  <% if can? :create, News %>
    <%= link_to 'Ajouter une news', new_news_path %>
  <% end %>
</section>
