<section>
   	<% title t('newss.list') %>
 		<h1><%=t('layout.news')%></h1>

	<ul class="menu">
		 <% @news.each do |news| %>
		  	<li class="partie"><%= link_to news.title, news %></li>
		 <% end %>
	</ul>

  <div class="paginate"><%= paginate @news %></div>
</section>

