<section id="news">
  <% if controller.controller_name == 'news' %>
    <%= title 'Les news' %>
  <% else %>
    <h1>Les news</h1>
  <% end %>

  <% @news.each do |news| %>
    <%= render 'news/one_news', {:news => news} %>
  <% end %>

  <%= paginate @news %>

  <% if can? :create, News %>
    <%= link_to t('common.add'), new_news_path %>
  <% end %>
</section>
