<section id="news">
  <%= render 'one_news', {:news => @news} %>

  <% if can? :update, @news %>
    <%= link_to 'Modifier', edit_news_path(@news) %> |
  <% end %>
  <%= link_to 'Retourner à la liste des news', news_index_path %>
</section>

<%= render 'comments/list_and_add', {:commentable => @news, :comments => @comments} %>