<section class="content">
  <% title(t('news') + ' : ' + @news.title) %>

  <%= render 'one_news', {:news => @news} %>


  <%= render 'layouts/show_actions', {:ressource => @news} %>
</section>

<%= render 'documents/list_and_add', {:documentable => @news, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @news, :comments => @comments} %>
