<section class="content">
  <%= title(t('document') + ' : ' + @document.to_s) %>

  <ul class="documents"><li>
      <%= render 'one_document', {documentable: @documentable, document: @document} %>
  </li></ul>
</section>
