<%= title t('carpools.list') %>

<ul>
<% @carpools.each do |carpool| %>
    <li><%= link_to carpool.location, carpool %></li>
<% end %>
</ul>

<% if can? :create, Carpool %>
  <%= link_to t('common.add'), new_carpool_path %>
<% end %>
