<section class="content">
<%= title t('carpools.list') %>
  <section class="content_box">
    <ul>
    <% @carpools.each do |carpool| %>
      <li><%= link_to carpool.location, carpool %></li>
      <% end %>
    </ul>
    <hr>
    <% if can? :create, Carpool %>
      <%= link_to t('common.add'), new_carpool_path %>
    <% end %>
  </section>
</section>
