<section class="content">
  <%= title t('polls.list') %>

  <ul>
  <% @polls.each do |poll| %>
    <li><%= link_to poll.name, poll %> (<%= t('votes.count', :count => poll.votes.size) %>)</li>
  <% end %>
  </ul>

  <% if can? :create, Poll %>
    <ul class="actions"><li><%= link_to t('common.add'), new_poll_path %></li></ul>
  <% end %>
</section>
