<section class="content">
  <%= title t('projects.list')%>

  <ul>
    <% @projects.each do |project| %>
    <li>
      <strong><%= link_to project.name, project %></strong> :
      <%= project.description %>
    </li>
    <% end %>
  </ul>

  <% if can? :create, Project %>
    <ul class="actions"><li><%= link_to t('common.add'), new_project_path %></li></ul>
  <% end %>
</section>

