%section.content
  = title t('projects.list')

  = search_form(projects_path)

  = links_to_objects(@projects, true)

  - if can? :create, Project
    %ul.actions
      %li= link_to t('common.add'), new_project_path
