<section class="content">
  <%= title(t('albums.list')) %>

  <% if @albums.empty? %>
    <p><%= t('albums.none') %></p>
  <% else %>
  <ul>
  <% @albums.each do |album| %>
    <li>
      <%= link_to album.name, {:controller => 'albums', :action => 'show', :id => album.id} %>
    </li>
  <% end %>
  </ul>
  <% end %>
</section>

