<section class="content">
  <%= title(t('albums.list')) %>

  <section class="content_box">
  <% @albums.each do |album| %>
    <li>
      <%= link_to album[:event].name, albums_show_path(album[:event]) %>
    </li>
  <% end %>
  </section>
</section>

