<h1 class="title"><%= t('timesheets.agenda') %></h1>

<noscript>
  <ul>
    <% agenda.map{|t| t['alt']}.uniq.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</noscript>

<div class="agenda"></div>

<script>
  fullcalendar_agenda = <%= agenda_to_json(agenda) %>;
  fullcalendar_agenda_dates = <%= dates_translations %>;
</script>
