%h1.title= t('timesheets.agenda')

%noscript
  %ul
    - agenda_for_noscript(agenda).each do |element|
      %li= link_to element[:alt], element[:url]

.agenda

:javascript
  fullcalendar_agenda = #{agenda_to_json(agenda)};
  fullcalendar_agenda_dates = #{dates_translations};
