<noscript>
  <ul>
    <% schedule.each do |t| %>
      <li><%= t.range %></li>
    <% end %>
  </ul>
</noscript>

<div class="schedule"></div>

<script>
  fullcalendar_schedule = <%= timesheets_to_json(schedule) %>;
  fullcalendar_schedule_start = <%= start_date_of_semester %>;
  fullcalendar_schedule_dates = <%= dates_translations %>;
</script>
