%noscript
  %ul
    - schedule.each do |hash|
      %li= hash['alt']

.schedule

:javascript
  fullcalendar_schedule = #{agenda_to_json(schedule)};
  fullcalendar_schedule_start = #{start_date_of_semester};
  fullcalendar_schedule_dates = #{dates_translations};
