<section class="content">
  <%= title t('common.edit') %>

  <%= render 'form' %>

  <ul class="actions">
    <li><%= link_to t('common.show'), @classified %></li>
    <li><%= link_to t('common.list'), classifieds_path %></li>
  </ul>
</section>
