<%= title t('roles.list') %>

<ul>
<% @roles.each do |role| %>
  <li>
    <%= link_to(t('roles.default.'+role.name, :default => role.name)
        + (role.asso ? " (#{role.asso.name})" : ''), role) %>
  </li>
<% end %>
</ul>

<br />

<% if can? :create, Role %>
  <%= link_to t('common.add'), new_role_path %>
<% end %>
