<%= title 'Rôles' %>

<ul>
<% @roles.each do |role| %>
  <li>
    <%= link_to role.name + (role.association ? " (#{role.association.name})" : ''), role %></td>
  </li>
<% end %>
</ul>

<br />

<% if can? :create, Role %>
  <%= link_to 'Ajouter un rôle', new_role_path %>
<% end %>
