<section class="content">
  <%= title(t('associations.list')) %>

	<section class="content_box">
		<% @associations.each do |association| %>
		  <li>
		    <strong><%= link_to association.name, association %></strong> :<br />
		    <%= association.description %>
		  </li>
		<% end %>
	  </section>

		<% if can? :create, Association %>
		  <%= link_to t('common.add'), new_association_path %>
		<% end %>
</section>

