<section class="content">
  <%= title t('courses.list') %>

  <ul>
    <% @courses.each do |course| %>
    <li><%= link_to course.name, course %></li>
    <% end %>
  </ul>

  <% if can? :create, Course %>
    <ul class="actions"><li><%= link_to t('common.add'), new_course_path %></li></ul>
  <% end %>
</section>
