
/* Partie contenu */

@mixin columns($count, $gap) {
  -moz-column-count: $count;
  -webkit-column-count: $count;
  column-count: $count;

  -moz-column-gap: $gap;
  -webkit-column-gap: $gap;
  column-gap: $gap;
}

/* Cas général */

#contents {
  padding-top: 1px;
  padding-right: $sidebar;
  padding-bottom: 0;

  .notice, .warning, .alert {
    padding: 10px;
    margin: 10px 10px 5px 10px;
    background-color: grey;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    word-wrap: break-word;
  }

  .notice {
    background-color: #47D15F;
    color: #003F0B;
    border-color: #003F0B;
  }

  .alert {
    background-color: #FF9086;
    color: #BB1000;
    border-color: #BB1000;
  }

  .warning {
    padding: 15px 10px 15px 50px;
    color: #9F6000;
    border-color: #9F6000;
    background: #FEEFB3 url('others/warning.png') no-repeat 10px center;
  }

  .content {
    color: #555;
    clear: left;
    background: white;
    margin: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    overflow: visible;

    a { @extend .basic-link; }

    h1.title {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-size: 1.7em;
      padding: 5px;
      padding-left: 30px;
      color: white;
      background-color: $base - #333;
      font-style: normal;
      @include linear-gradient-top($base, $base - #333);

      a { color: white; }
    }

    .blocks, .pagination, p, ul, ol, img, form, table, audio, video,
    h2, h3, h4, h5, h6, pre, dl {
      margin: 8px;
    }

    dl {
      dt {
        font-weight: bold;
        padding: 16px 0 8px;
      }
      dd {
        padding: 0 10px;
      }
    }

    pre { overflow: auto; }

    h1 { font-size: 1.5em; font-style: bold; }
    h2 { font-size: 1.4em; font-style: italic; }
    h3 { font-size: 1.3em; font-weight: bold; }
    h4 { font-size: 1.3em; font-style: italic; }
    h5 { font-size: 1.2em; font-weight: bold; }
    h6 { font-size: 1.2em; font-style: italic; }

    .block {
      border-bottom: 1px dashed $fond - #444;
      padding: 5px;
      margin-top: 10px;

      header {
        background: $fond;
        padding: 5px;
        border-radius: 5px;

        .date {
          float: left;
          width: 40px;
          height: 40px;
          padding: 2px;
          margin: 3px;
          text-align: center;
          vertical-align: middle;
          border: 1px solid black;
          border-radius: 5px;
          color: white;
          font-weight: bold;
          background-color: $base - #333;
          @include linear-gradient-top($base, $base - #333);
        }

        h2 {
          padding: 5px;
          padding-left: 65px;
          font-weight: bold;
          font-size: 1.2em;
          font-style: normal;
          margin: 0;
        }

        .details {
          padding: 3px;
          margin: 0;
          margin-left: 65px;
          font-style: italic;
          color: #666;
          background: $fond - #111;
          border-radius: 5px;

          li {
            display: inline;
            padding-right: 10px;

            strong {
              font-weight: bold;
            }
          }
        }
      }
    }

    .pagination {
      text-align: center;
      padding: 5px;
    }

    ul {
      margin-left: 20px;

      li {
        list-style-type: circle;
        margin-left: 10px;
        padding: 2px;
      }
    }

    p {
      line-height: 120%;
    }

    img {
      max-width: 920px - $sidebar;
      max-height: 500px;
    }

    strong { font-weight: bold; }

    .left { float: left; }

    .right { float: right; }

    .list-no-style li { list-style-type: none; }

    .thumb {
      max-width: 200px;
      max-height: 200px;
      vertical-align: middle;
    }
  }
}

/* CSS spécifique à certains controlleurs */

#contents .content {
  /* Liens en bas de chaque page (liste, modifier, supprimer, afficher, ...) */

  form.button_to, form.button_to div, ul.actions li {
    display: inline;
    padding: 0;
    margin: 0;
  }

  /* Liens en bas de chaque page */

  ul.actions {
    margin-left: 10px;

    li {
      padding: 3px;
      list-style-type: none;

      input {
        background: none;
        border: none;
        font-size: 1em;
        @extend .basic-link;
      }
    }
  }

  /* Listes avec des boutons pour supprimer des éléments (commentaires, ...) */

  ul.list-with-delete {
    button, .button_to, .button_to input {
      padding: 0;
      margin: 0;
      background: none;
      border: none;

      img {
        margin: 0;
        padding: 0;
        vertical-align: middle;
      }
    }

    form {
      margin: 0;
      padding: 0;
    }
  }

  ul.comments, ul.documents {
    li {
      list-style-type: none;

      textarea#comment_content { height: 50px; }

      img {
        max-width: 100px;
        max-height: 100px;
        vertical-align: middle;

        &.user {
          max-width: 30px;
        }
      }
    }
  }

  /* Barre des sondages : inspiré de : http://www.alistapart.com/d/accessibledata/example-final.html */

  ul.poll li {
    position: relative;
    display: block;

    .answer {
      padding: 5px;
      display: block;
      position: relative;
      z-index: 2;
    }

    .count {
      position: absolute;
      top : 0;
      right: 0;
      color: #888;
      display: block;
      padding: 10px;
      z-index: 1;
    }

    .index {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: $base + #333;
      border-radius: 10px;
      @include linear-gradient-top($base + #444, $base + #222);
    }
  }

  img.user {
    max-width: 30px;
    margin: 0;
    vertical-align: middle;
  }

  /* Spécifique au trombi */

  .alone img.user {
    float: right;
    margin: 5px 15px 0 0;
  }

  // Photo d'utilisateur (dans le trombi)
  .profile img.user { max-width: 100px; }

  .image_frame {
    text-align: center;
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;

    .image { margin: 5px; }

    .name {
      display: inline-block;
      font-size: 0.8em;
      width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img.asso { max-width: 100px; }
  }

  .information { min-height: 140px; }

  // For the courses#index
  .columns {
    @include columns(6, 5px);
  }
}

/* Formulaires */

#contents .content form {
  .fields {
    .field, .actions {
      list-style: none;
      padding-bottom: 10px;

      label {
        display: block;
        font-weight: bold;
        margin: 5px;
      }

      textarea {
        width: 320px;
        height: 100px;
      }
    }
  }
}

/* Corrections pour la librairie Chosen */
#contents .content form .chzn-container {
  ul, li {
    list-style: none;
    margin: 2px;
    padding: 2px;
  }
}

#contents .content form .chzn-container-multi {
  ul {
    margin: 0;
    padding: 0;

    .search-choice { padding-right: 20px; }
  }
}

/* Corrections pour la librairie FullCalendar */
#contents .content .fc {
  table {
    margin: 0; /* Enléve le margin pour les tableau de FullCalendar */
  }

  a, div {
    max-width: none; /* Permet aux événemnts d'être de la bonne taille */
  }

  .fc-header-right {
    padding: 5px 10px 0 0; /* petit espace à droite et en haut du header */
  }

  .fc-event-inner {
    text-align: center;
    font-weight: bold;
    /* TODO: aligner verticalement ce bloc, mais bugs via table-cell) */
  }
}
