/* Layout */

$icon_size: 30px; // Taille des icônes

// Fonctions pour éviter les répétitions de code
// et les pavés de codes (-moz-, -o-, ...), ...

@mixin linear-gradient-top($start, $end) {
  background-image: linear-gradient(top, $start 0%, $end 100%);
  background-image: -moz-linear-gradient(top, $start 0%, $end 100%);
  background-image: -webkit-linear-gradient(top, $start 0%, $end 100%);
  background-image: -o-linear-gradient(top, $start 0%, $end 100%);
  background-image: -ms-linear-gradient(top, $start 0%, $end 100%);
}

.basic-link {
  color: $base - #333;

  &:hover { text-decoration: underline; }
}

/* Layout sans la partie contenu */

body {
  font-family: Arial, Serif;
  width: 970px;
  margin: auto;
  box-shadow: 0 0 30px 10px #ccc;
  background-color: $fond;
}

#quote {
  clear: both; // Pour la photo, elle dépasse sur les petits écrans
}

#quote, #contents .content blockquote {
  padding: 5px;
  text-align: center;
  color: $fond - #555;
  font-style: italic;

  &:before { content: "« "; }
  &:after { content : " »"; }
}

#topbar {
  padding: 0;
  border-bottom: 1px solid ($fond - #222);
  @include linear-gradient-top(white, $fond);

  a {
    color: #404040; /* gris foncé */

    &:hover { text-decoration: underline; }
  }

  img {
    vertical-align: middle;
    padding: 0 5px;
  }

  img.user {
    max-width: 30px;
    vertical-align: middle;
  }

  #connect {
    float: right;
    text-align: right;

    li, a, img {
      padding: 0;
    }

    li {
      display: block;
      margin: 0 0 5px;

      .alternative {
        padding-right: 10px;
      }
    }
  }

  li {
    // Voir .illustrated pour le reste
    display: inline-block;
    margin: 8px 0;

    a { padding: 5px 15px 5px 36px; }
  }

  li.connected {
    float: right;

    a {
      min-height: 20px;
      display: block;
      margin: 0 5px;
      padding: 5px;
      width: 30px;
      height: 20px;
    }

    input {
      opacity: 0;
      width: 30px;
      height: 30px;
      margin: 0 5px;
      padding: 5px;
      cursor: pointer;
    }
  }

  li.none a {
    background-image: none;
    padding: 0 10px 0 10px;
  }
}

#sidebar {
  float: right;
  width: $sidebar;
  padding-top: 5px;

  .box {
    margin: 5px 10px;
    padding: 10px;
    border: 3px double ($fond - #222);
    border-radius: 5px;
    @include linear-gradient-top(white, $fond);

    a { @extend .basic-link; }

    h2 {
      font-size: 1.3em;
      padding: 5px;
    }

    ul {
      padding-left: 8px;

      li { padding: 2px; }
    }

    ul.illustrated {
      li a {
        display: block;
        padding: 5px 15px 5px 40px;
      }
    }
  }
}

#footer {
  clear: both;
  background-color: $base - #222;
  color: white;
  text-align: center;
  padding: 10px;

  li {
    display: inline;
    padding: 5px;

    a {
      @extend .basic-link;
      color: white;
    }
  }
}

ul.illustrated {
  li a, li.connected div {
    background: url('icons.png') no-repeat;
  }

  li.logo {
    padding-left: 10px;
    border-right: solid 1px ($fond - #333);

    a {
      background-position: -1000px 0;

      &:hover {
        background-position: 0 (-$icon_size*4);
      }
    }
  }

  li.users a { background-position: 0 0; }

  li.timesheets a { background-position: 0 (-$icon_size*1); }

  li.mails a { background-position: 0 (-$icon_size*2); }

  li.logout div { background-position: 0 (-$icon_size*3); }

  // Le quatrième c'est le logo de page d'accueil

  li.wiki a { background-position: 0 (-$icon_size*5); }

  li.events a { background-position: 0 (-$icon_size*6); }

  li.courses a { background-position: 0 (-$icon_size*7); }

  li.classifieds a { background-position: 0 (-$icon_size*8); }

  li.buckutt a { background-position: 0 (-$icon_size*9); }

  li.polls a { background-position: 0 (-$icon_size*10); }

  li.news a { background-position: 0 (-$icon_size*11); }

  li.carpools a { background-position: 0 (-$icon_size*12); }
}

span.translation_missing {
  color: red;
}
