/* Layout */

// Fonctions pour éviter les répétitions de code
// et les pavés de codes (-moz-, -o-, ...), ...

@mixin linear-gradient-top($start, $end) {
  background-image: linear-gradient(top, $start 0%, $end 100%);
  background-image: -moz-linear-gradient(top, $start 0%, $end 100%);
  background-image: -webkit-linear-gradient(top, $start 0%, $end 100%);
  background-image: -o-linear-gradient(top, $start 0%, $end 100%);
  background-image: -ms-linear-gradient(top, $start 0%, $end 100%);
}

.basic-link {
  color: $base - #333;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

/* Layout sans la partie contenu */

body {
  font-family: Arial, Serif;
  width: 970px;
  margin: auto;
  box-shadow: 0 0 30px 10px #ccc;
  background-color: $fond;
}

#beta {
  border: 1px solid;
  margin: 0;
  padding: 15px 10px 15px 50px;
  color: #9F6000;
  background: #FEEFB3 url(image_path('others/warning.png')) no-repeat 10px center;
  border-radius: 5px;
  margin: 0 5px 5px 5px;
}

.connect {
  position: absolute;
  right: 0;
  top: 0;
}

#quote, #contents .content blockquote {
  padding: 5px;
  text-align: center;
  color: $fond - #555;
  font-style: italic;

  &:before { content: "« "; }
  &:after { content : " »"; }
}

#topbar {
  padding: 5px 5px;
  border-bottom: 1px solid ($fond - #222);
  @include linear-gradient-top(white, $fond);

  a {
    color: #404040; /* gris foncé */
    padding: 0 5px;

    &:hover { text-decoration: underline; }
  }

  img {
    vertical-align: middle;
    padding: 0 5px;
  }

  // Ne sert que s'il y a plusieurs langues d'actives
  #language-selector {
    float: right;
    margin: 0;
    margin-right: 5px;

    img { padding: 0; }
  }

  li {
    display: inline-block;
    margin: 8px 0;

    a {
      background: url('icons.png') no-repeat;
      padding: 10px 15px 10px 36px;
    }
  }

  li.logo {
    margin: 0;
    margin-right: 20px;
    padding-right: 20px;
    border-right: solid 1px ($fond - #333);

    a {
      background-position: -1000px 0;

      &:hover {
        background-position: 0 -33.7px*4;
      }
    }
  }

  li.users a {
    background-position: 0 0;
  }

  li.events a {
    background-position: 0 -33.7px*6;
  }

  li.classifieds a {
    background-position: 0 -33.7px*8;
  }

  li.buckutt a {
    background-position: 0 -33.7px*9;
  }

  li.mails a {
    background-position: 0 -33.7px*2;
  }
}

#sidebar {
  float: right;
  width: $sidebar;
  padding-top: 5px;

  .box {
    margin: 5px 10px;
    padding: 10px;
    border: 3px double ($fond - #222);
    border-radius: 5px;
    @include linear-gradient-top(white, $fond);

    a { @extend .basic-link; }

    h2 {
      font-size: 1.3em;
      padding: 5px;
    }

    ul {
      padding-left: 20px;

      li { padding: 2px; }
    }
  }
}

#footer {
  clear: both;
  background-color: $base - #222;
  color: white;
  text-align: center;
  padding: 10px;

  li {
    display: inline;
    padding: 5px;

    a {
      @extend .basic-link;
      color: white;
    }
  }
}
