/*
 * Théme personnalisé pour MarkItUp
 */

#contents .content form .fields .field .markItUp {
  ul, li, a, div, textarea {
    padding: 0;
    margin: 0;
  }

  li.markItUpButton, li.markItUpSeparator {
    list-style: none;
    float: left;

    a {
      display: block;
      width: 16px;
      height: 16px;
      text-indent: -10000px;
      background-repeat: no-repeat;
      margin: 3px;

      background-image: url('markItUp.png');
    }
  }

  li.markItUpSeparator {
    width: 1px;
    height: 16px;
    margin: 0 5px;
    overflow: hidden;
  }

  textarea {
    width: 400px;
  }

  .markItUpPreviewFrame {
    width: 400px;
    height: 200px;
  }
}

/* Boutons venant du set Markdown */

.markItUp {
  .markItUpButton1 a { /* h1 */
    background-position:-16px*2 0;
  }

  .markItUpButton2 a { /* h2 */
    background-position:-16px*3 0;
  }

  .markItUpButton3 a { /* h3 */
    background-position:-16px*4 0;
  }

  .markItUpButton4 a { /* h4 */
    background-position:-16px*5 0;
  }

  .markItUpButton5 a { /* h5 */
    background-position:-16px*6 0;
  }

  .markItUpButton6 a { /* h6 */
    background-position:-16px*7 0;
  }

  .markItUpButton7 a { /* gras */
    background-position: 0 0;
  }

  .markItUpButton8 a { /* italique */
    background-position:-16px*8 0;
  }

  .markItUpButton9 a { /* liste par points */
    background-position:-16px*10 0;
  }

  .markItUpButton10 a { /* liste numérotée */
    background-position:-16px*11 0;
  }

  .markItUpButton11 a { /* image */
    background-position:-16px*12 0;
  }

  .markItUpButton12 a { /* lien */
    background-position:-16px*9 0;
  }

  .markItUpButton13 a { /* citation */
    background-position:-16px*14 0;
  }

  .markItUpButton14 a { /* code */
    background-position:-16px 0;
  }

  .preview a {
    background-position:-16px*13 0;
  }
}
