/* Reset CSS */

@import "reset.css";

/* Constantes */
$base: #297E9D; /* Bleu clair de base */
$fond: #EEEEEE; /* Gris clair du fond */
$sidebar: 290px; /* largeur du menu à droite */

/* Fonctions pour éviter les répétitions de code
 * et les pavés de codes (-moz-, -o-, ...), ... */

@mixin linear-gradient-top($start, $end) {
  background-image: linear-gradient(top, $start 0%, $end 100%);
  background-image: -moz-linear-gradient(top, $start 0%, $end 100%);
  background-image: -webkit-linear-gradient(top, $start 0%, $end 100%);
  background-image: -o-linear-gradient(top, $start 0%, $end 100%);
  background-image: -ms-linear-gradient(top, $start 0%, $end 100%);
}

.basic-link {
  color: $base - #333;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Layout sans la partie contenu */

body {
  font-family: Arial, Serif;
  width: 970px;
  margin: auto;
  box-shadow: 0 0 30px 10px #ccc;
  background-color: $fond;
}

#quote {
  padding: 10px;
  text-align: center;
  color: $fond - #555;
  background: white;
  font-style: italic;

  &:before { content: "« "; }
  &:after { content : " »"; }
}

#topbar {
  padding: 5px 5px;
  text-align: center;
  border-bottom: 1px solid ($fond - #222);
  @include linear-gradient-top(white, $fond);

  a {
    color: #404040; /* gris foncé */
    padding: 0 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    vertical-align: middle;
    padding: 0 5px;
  }

  #language-selector {
    float: right;
    margin: 0;
    margin-right: 5px;

    img {
      padding: 0;
    }
  }

  li {
    display: inline;
  }
}

#sidebar {
  float: right;
  width: $sidebar;
  padding-top: 5px;

  .box {
    margin: 5px 10px;
    padding: 10px;
    border: 3px double ($fond - #222);
    border-radius: 5px;
    @include linear-gradient-top(white, $fond);

    a {
      @extend .basic-link;
    }

    h2 {
      font-size: 1.3em;
      padding: 5px;

      .connect {
        color: $base - #555;
        font-weight: bold;
      }
    }

    ul {
      padding-left: 20px;

      li {
        padding: 2px;
      }
    }
  }
}

#footer {
  clear: both;
  background-color: $base - #222;
  color: white;
  text-align: center;
  padding: 10px;

  li {
    display: inline;
    padding: 5px;

    a {
      @extend .basic-link;
      color: white;
    }
  }
}

/* Partie contenu */

/* Cas général */

#contents {
  padding-top: 1px;
  padding-right: $sidebar;
  padding-bottom: 0;

  .notice, .alert {
    padding: 10px;
    margin: 10px 10px 5px 10px;
    background-color: grey;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
  }

  .notice {
    background-color: #47D15F;
    color: #003F0B;
    border-color: #003F0B;
  }

  .alert {
    background-color: #FF9086;
    color: #BB1000;
    border-color: #BB1000;
  }

  .content {
    color: #555;
    clear: left;
    background: white;
    margin: 10px;
    padding-bottom: 5px;
    border-radius: 5px;

    a {
      @extend .basic-link;
    }

    h1 {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-size: 1.5em;
      padding: 5px;
      padding-left: 30px;
      color: white;
      background-color: $base - #333;
      @include linear-gradient-top($base, $base - #333);

      a {
        color: white;
      }
    }

    p {
      padding: 8px;
      line-height: 120%;
    }

    .blocks, .pagination, p, ul, ol, img, form, table, audio, video {
      margin: 8px;
    }

    .block {
      border-bottom: 1px dashed $fond - #444;
      padding: 5px;
      margin-top: 10px;

      header {
        background: $fond;
        padding: 5px;

        .date {
          float: left;
          width: 40px;
          height: 40px;
          padding: 2px;
          margin: 3px;
          text-align: center;
          vertical-align: middle;
          border: 1px solid black;
          border-radius: 5px;
          color: white;
          font-weight: bold;
          background-color: $base - #333;
          @include linear-gradient-top($base, $base - #333);
        }

        h2 {
          padding: 5px;
          padding-left: 65px;
          font-weight: bold;
          font-size: 1.2em;
        }

        .details {
          padding: 3px;
          margin: 0;
          margin-left: 65px;
          font-style: italic;
          color: #666;
          background: $fond - #111;

          li {
            display: inline;
            padding-right: 10px;

            strong {
              font-weight: bold;
            }
          }
        }
      }
    }

    .pagination {
      text-align: center;
      padding: 5px;
    }

    ul {
      margin-left: 20px;

      li {
        list-style-type: circle;
        margin-left: 10px;
        padding: 2px;
      }
    }
  }
}

/* Formulaires */

#contents .content form {
  .fields {
    .field, .actions {
      list-style: none;
      clear: left;
      padding-bottom: 10px;

      label {
        float: left;
        width: 100px;
        text-align: right;
        padding: 5px;
        padding-right: 10px;
        font-weight: bold;
      }

      textarea {
        width: 320px;
        height: 100px;
      }
    }

    .actions {
      margin-left: 125px;
    }
  }
}

/* Classes pratiques pour le contenu */

#contents .content {
  .left {
    float: left;
  }

  .right {
    float: right;
  }

  strong {
    font-weight: bold;
  }

  /* Liens en bas de chaque page (liste, modifier, supprimer, afficher, ...) */

  form.button_to, form.button_to div, ul.actions li {
    display: inline;
    padding: 0;
    margin: 0;
  }

  ul.actions {
    margin-left: 10px;

    li {
      padding: 3px;
      list-style-type: none;

      input {
        background: none;
        border: none;
        font-size: 1em;
        @extend .basic-link;
      }
    }
  }

  /* Commentaires */

  ul.comments, ul.documents {
    margin-left: 0;

    li {
      list-style-type: none;

      button, .button_to {
        padding: 0;
        margin: 0;
        background: none;
        border: none;

        img {
          margin: 0;
          padding: 0;
        }
      }

      textarea#comment_content {
        height: 50px;
      }

      img {
        max-width: 100px;
        max-height: 100px;
        vertical-align: middle;
      }
    }
  }
}
