$sidebar: 0px; // largeur du menu à droite

@import "common";

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#sidebar {
  float: none;
  width: 100%;
}

#contents .content {
  form .fields {
    padding: 0;
    margin: 0;

    .field {
      input, textarea {
        max-width: 100%;
      }
    }
  }
}
