// Constantes
$base: #297E9D; // Bleu clair de base
$fond: #EEEEEE; // Gris clair du fond
$sidebar: 0px; // largeur du menu à droite

@import "reset", "layout", "content", "chosen", "fullcalendar";

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#sidebar {
  float: none;
  width: 100%;
  font-size: 1.2em;

  .login {
    h2 a {
      font-size: 1.5em;
    }
  }

  a {
    display: block;
    padding: 5px;
    font-size: 1.2em;
  }
}

#contents .content {
  form .fields {
    padding: 0;
    margin: 0;

    .field {
      input, textarea {
        max-width: 100%;
      }

      label {
        float: none;
        display: block;
        width: auto;
        text-align: left;
      }
    }
  }
}
