// Constantes
$base: #297E9D; // Bleu clair de base
$fond: #EEEEEE; // Gris clair du fond
$sidebar: 0px; // largeur du menu à droite

@import "reset", "layout", "content";

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#sidebar {
  float: none;
  width: 100%;
  font-size: 1.2em;

  .box {
    li {
      line-height: 1.3em;
    }
  }

  .login {
    h2 a {
      font-size: 1.5em;
    }
  }
}

#contents .content {
  form .fields {
    padding: 0;
    margin: 0;

    .field label {
      float: none;
      display: block;
      width: auto;
      text-align: left;
    }
  }
}
