<p>Salut <%= @resource.login %> !</p>

<p>Quelqu'un a demandé un lien pour changer ton mot de passe. Tu peux le faire en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si tu n'as pas fait cette demande, tu peux ignorer cet email.</p>
