<section class="content">
  <%= title t('assos.list') %>

  <ul>
    <% @assos.each do |asso| %>
    <li>
      <%= content_tag(:strong, link_to(asso.name, asso)) %>
      <%= content_tag(:span, truncate(asso.description, :length => 60), :title => asso.description) %>
    </li>
    <% end %>
  </ul>

  <% if can? :create, Asso %>
    <ul class="actions"><li><%= link_to t('common.add'), new_asso_path %></li></ul>
  <% end %>
</section>

