%section.content
  = title t('assos.list')

  %ul
    - @assos.each do |asso|
      %li
        %strong= link_to(asso.to_s, asso)
        = asso.description.truncate(60)

  - if can? :create, Asso
    %ul.actions
      %li= link_to t('common.add'), new_asso_path
