<h2><%= link_to current_user.real_name, current_user, :class => 'connect' %></h2>
<ul>
  <% unless current_user.timesheets.empty? %>
    <li><%= link_to t('layout.schedule'), url_for(current_user) + '#edt' %></li>
  <% end %>
  <li><%= link_to t('user_sessions.logout'), :logout %></li>
</ul>
