<section class="content">
  <%= title t('common.edit') %>

  <%= render 'form' %>

  <ul class="actions">
    <li><%= link_to t('common.show'), ressource %></li>
    <li><%= link_to t('common.list') , ressources %></li>
  </ul>
</section>
