<ul class="actions">
  <% if can? :update, ressource %>
    <li><%= link_to t('common.edit'), {:action => :edit, :id => ressource} %></li>
  <% end %>
  <% if can? :destroy, ressource %>
    <li><%= button_to t('common.delete'), ressource, :confirm => t('common.confirm'), :method => :delete %></li>
  <% end %>
  <li><%= link_to t('common.list'), {:action => :index} %></li>
</ul>
